import * as React from 'react';
import styled from 'styled-components';

interface Props {}

export function {{ properCase componentName }}(props: Props) {
  return (<Div></Div>);
}
const Div = styled.div``;
